#app {

  .sidebar-container { // 菜单栏
    transition: width .28s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999; // 优先级高于移动环境下的遮罩层
    width: $sideBarWidth;
    min-height: 100%;
    background-color: #304156;
    // reset elementUi style
    .el-menu {
      width: 100%;
      border: none;
    }
    // .el-submenu__title {
    //   padding: 0 !important;
    // }
    // .el-tooltip {
    //   padding:  0 !important;
    // }
  }

  .main-container {  // 内容主体
    transition: margin-left .28s;
    position: relative;
    margin-left: $sideBarWidth;
    min-height: 100%;
    // background-color: pink;
  }

  .hideSidebar {   // 收缩sidebar
    .sidebar-container {
      // 这里的!importan解决mobile端切换到desktop端过程中的从210px到54px
      width: 54px !important;
    }
    .main-container {
      margin-left: 54px;
    }
  }
 // 移动自适应
  .mobile {
    .main-container {
      margin-left: 0;
    }
    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }
    &.hideSidebar { // &指的是父级类.mobile
      .sidebar-container {
        pointer-events: none; // 禁用鼠标事件
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .sidebar-container, 
    .main-container {
      transition: none;
    }
  }

  /* 路由过渡 */
  .fade-transform-leave-active,
  .fade-transform-enter-active {
    transition: all .5s;
  }

  .fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
  }

  .fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}